<div class="jumbotron jumbotron-fluid" style="background-image: url(images/jumbotron_image.jpg);">
  <div class="container">
    <h1 class="display-3 page-title">My Story</h1>
    <p class="lead">Welcome to My Story a simple mini-blog. Please Signup or Login.</p>
    <div class="cta">
    	<button class="btn btn-outline-success my-2 my-sm-0" onclick="newNav()">Signup</button>
    	<button class="btn btn-outline-success my-2 my-sm-0" onclick="loginNav()">Login</button>
    </div>
  </div>
</div>