<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <div class="container-fluid">
        <% include ./partials/navbar %>
        <% include ./partials/jumbotron %>
        <div id='content'></div>
    </div>
</body>
<script src='js/main.js' ></script>    

</html>